@model IEnumerable<BaseDeConhecimento.Dtos.TecnologiaDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova tecnologia", "Cadastrar")
</p>
<table>
    <tr>
        <th>Nome
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {  id=item.id  })
                @Html.ActionLink("Excluir", "Delete", new {  id=item.id  })
            </td>
        </tr>
        }
    }

</table>
